/* GLOBAL RESETS *************************************/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  color: #222;
  font-size: 16px; /* FF does not let you override its minimum font-size */
}

/* TEXT *******************/

p, span {
  font-size: 1em;
  hyphens: none;
  text-align: left;
  margin: 0;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

a:hover, Link:hover, .link:hover {
  color: #fc9414;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  line-height: 1rem;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

h5 {
  font-size: 0.6rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* LAYOUT *******************/

.wrapper {
  overflow: scroll;
}

.header {
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-bottom: 2px solid rgb(227, 227, 227);
  padding: 20px;
  z-index: 2;
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 16px;
  padding: 80px 16px;
}

.tile {
  display: block;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  z-index: 1;
}

.tools {
  visibility: hidden;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 4;
}

.tool {
  color: white;
  background-color: rgb(51, 51, 51);
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  visibility: inherit;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 1.2rem;
  height: 1rem;
  vertical-align: middle;
}

/* TRANSITIONS ****************/

.openSlide {
  transition-property: background-color, height;
  transition-duration: .3s;
  transition-timing-function: ease;
  background-color: rgba(0,0,0,0.9);
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
}

.showOverlay {
  visibility: visible;
  display: flex;
  position: absolute;
}

/* MEDIA QUERIES ***************/

@media only screen and (max-width: 400px) {

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

}
