/* GLOBAL RESETS *************************************/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #F7F7F7;
  color: #222;
  font-size: 16px; /* FF does not let you override its minimum font-size */
}

/* TEXT *******************/

p, span {
  font-size: 1em;
  hyphens: none;
  text-align: left;
  margin: 0;
}

input {
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  line-height: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

h5 {
  font-size: 0.6rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* COMPONENTS *******************/

.login {
  display: flex !important;
  flex-direction: column;
  width: 33%;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.loginBtn {
  width: 100%;
  background-color: purple;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header {
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(227, 227, 227);
  color: rgb(74, 74, 74);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1.3rem;
  z-index: 2;
}

.gallery {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 120px;
  grid-gap: 0.5rem;
  padding: 5.2rem 1rem 1rem;
}

.scrim {
  visibility: hidden;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

.thumbnail {
  display: block;
  background-color: rgba(0,0,0,0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.slideshow {
  display: none;
}

.slide {
  opacity: 0;
}

.image {
  display: block;
  background-color: rgba(0,0,0,0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

  transform: scale(1);
  transition: transform 1s;
}

.scaleSlide {
  transform: scale(1);
  transition: transform 1s; 
}

.tools {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 4;
  margin: -10% 0;
  transition-property: height, margin;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.tool {
  color: white;
  background-color: rgb(51, 51, 51);
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.titlebar, .footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.icon {
  width: 1.2rem;
  height: 1rem;
  vertical-align: middle;
}

/* TRANSITIONS ****************/

@keyframes bubble {
  0%   {background-size: 0%;}
  50%  {background-size: 120%;}
  100% {background-size: 100%;}
}

@keyframes fade {
  0%   {opacity: 1; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
}

@keyframes shrink {
  0%   {width: 100%; visibility: visible;}
  99% {width: 0%; visibility: visible;}
  100% {visibility: hidden;}
}

.fadeOut {
  animation: fade .3s ease 1;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: fade .3s ease 1 reverse;
  animation-fill-mode: forwards;
}

.openSlide {
  animation-name: bubble;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 1;
  transition: opacity 1s ease; 
}

.closeSlide {
  animation-name: shrink;
  animation-duration: .4s;
}

.openOverlay {
  display: flex !important;
  position: fixed;
  top: 0;
  height: 100%;
  margin: 0;
}

.hide {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
  display: block;
}

/* MEDIA QUERIES ***************/

@media only screen and (max-width: 800px) { /* TABLET */

  .login {
    width: 100%;
    padding: 1rem;
  }

}

@media only screen and (max-width: 400px) { /* MOBILE - PORTRAIT */

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

}


